*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #8da19f;
}


#welcome-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  display: block;
  height: 400px;
  width: 850px;
}


.play-btn, .inst-btn, .mainMenu-btn, .newGame-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

#buttonContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'game_of_thronesregular';
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 3px;
}

h4 { 
  font-family: 'game_of_thronesregular';
  font-weight: 500;
  letter-spacing: 3px;
}

#got-logo {
  height: 400px;
  width: 400px;
  opacity: 0;
  transition: 2s opacity;
  margin-bottom: 0;
  
}

#welcomeText {
  opacity: 0;
  transition: 3s opacity;
}

#instructionsPage  {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  height: 400px;
  width: 850px;
}

#instText {
  font-size: 18px;
}

#gamePage  {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  height: 400px;
  width: 850px;

}


#wordSpotlight {
  font-size: 32px;
  font-family: "game_of_thronesregular";
  letter-spacing: 10px;

}


#letterBank {
  width: 780px;
  height: 125px;
  margin: 20px auto;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#letterBank div {
  float: left;
  width: 50px;
  height: 58px;
  margin: 0px 10px 10px 0px;
  cursor: pointer;
  font-family: 'game_of_thronesregular';
}

p {
  font-size: 24px;
}

.float-right {
  font-size: 24px;
}
