*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #8da19f;
}

/* may want to change image, fix w/h as need */
#fadeout {
  opacity: 1;
  transition: 2s opacity;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  display: block;
  height: 400px;
  width: 850px;

}

#welcome-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  display: block;
  height: 400px;
  width: 850px;
}


.play-btn, .inst-btn, .mainMenu-btn, .newGame-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

#buttonContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'game_of_thronesregular';
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3px;
}

#got-logo {
  height: 400px;
  width: 400px;
  opacity: 0;
  transition: 2s opacity;
  
}

#welcomeText {
  opacity: 0;
  transition: 3s opacity;
}

#instructions-container  {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  height: 400px;
  width: 850px;
}

#instText {
  font-size: 18px;
}

#gamePage  {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  height: 400px;
  width: 850px;
}

#challengeWord {
  display: inline-block;
  width: 830px;
  margin: 0 auto;
  font-size: 40px;

}

#line1, #line2, #line3, #line4, #line5, #line6, #line7, #line8, #line9, #line10 {
  display: none;
  float: left;
  width: 50px;
  height: 60px;
  margin-right: 5px;
}

#letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #line10 {
  width: 50px;
  height: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  font-family: 'game_of_thronesregular';
  line-height: 60px;
}


#letterBank {
  width: 780px;
  height: 125px;
  margin: 20px auto;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#letterBank div {
  float: left;
  width: 50px;
  height: 58px;
  margin: 0px 10px 10px 0px;
  cursor: pointer;
  font-family: 'game_of_thronesregular';
}

